{% extends "base.html" %}

{% block inHeadScript %}
    <script>

        var imageData;
        $(document).ready(function(){

            //webcam feature detection
            function hasGetUserMedia(){
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
            };

            if (hasGetUserMedia()){
                //all set
            }else{
                alert('cannot use web cam for imgs.');
            }

            $("#my_form").submit(function(){

                if($("#image").value == "--"){
                    alert("no image! please snap!");
                    return
                }

                $.post("",
                        {
                            image:imageData,
                            csrfmiddlewaretoken:'{{ csrf_token}}'},

                        function(data,status){
                            $("#result").hide();
                            $("#result").html(data);
                            $("#result").show('slow');
                        }
                )
                        .fail(function(xhr){
                            console.log("Error: "+xhr.statusText);
                            alert("Error: "+xhr.statusText);
                        });
                return false;
            });
        });

    </script>

{% endblock %}

{% block content %}


    <video autoplay id="video"></video>
    <canvas id="canvas" width="600" height="400"></canvas>

    <form id="my_form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="image" name="image" value="--">
        <input type="submit" value="Send">
    </form>

    <div id="result">
    </div>

    <script>
    //enable webgl
    var video = document.getElementById("video");
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext('2d');
    var localMediaStream = null;

    function snap(){
        if(localMediaStream){
            ctx = canvas.getContext('2d');
            ctx.drawImage(video,0,0);
            imageBinary = canvas.toDataURL().replace("data:image/png;base64,","");
            $("image").value = imageBinary;
            imageData = imageBinary;
        }

    }

    video.addEventListener('click',snap,false);

        var errorCallBack = function(e){
        console.log('Rejected...',e);
    };

    navigator.getUserMedia  = navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia;

   // var video = document.querySelector('video');

    if (navigator.getUserMedia) {
        navigator.getUserMedia({video: true}, function(stream) {
        video.src = window.URL.createObjectURL(stream);
        localMediaStream = stream;
    }, errorCallBack);
    } else {
    video.src = 'somevideo.webm'; // fallback.
    }

    </script>

{% endblock %}