{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block inHead %}
        <!-- block inHead -->
    {% endblock %}

    {% block inHeadScript %}
        <!-- block inHeadScript-->
    {% endblock %}

</head>
<body>
    {% block contentHeader %}
        <!-- block content header -->
    {% endblock %}

    <!-- ------------------------------------ -->

    {% block content %}
        <!-- block content -->
    {% endblock%}

    <!-- ------------------------------------ -->

    {% block contentFooter %}
        <!-- block content footer -->
    {% endblock %}
</body>
</html>