{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block head %}

    <!-- main -->
    <script src="{% static "js/finalize.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>
    <script src="{% static "js/jquery.colorbox.js" %}"></script>
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>

    {% include "inhead_declaration.html" %}

    <script>

        var geometry_data = {{ geometry|safe }};
        var similarity = {{ similarity }};
        var parent_id = {{ parent_id }};
        var parent_points = {{ parent_points }};
        var points_inborn, cost;
        var valid = false;
        var is_make= false;


        $(document).ready(function () {
            initialize();
            // 'initialize' written in finalize.js
        });
    </script>

{% endblock %}

{% block header %}
    <div class ="width-wide">
        <div class="pure-g">


        <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

            <h2>the decentralized version controlled building system</h2>
        </div>
        <div class="pure-u-2-5">

            　　　　　<div class="info"><a class='iframe' href="/information">
            <button class="button-xsmall1 pure-button"><i class="fa fa-question">&nbsp;&nbsp;</i>this site</button></a></div>

            <div class="login">
                {% include "header_with_login.html" %}

            </div>


        </div>
    </div>
    </div>



{% endblock %}

{% block contents %}
    <div class="width-wide">

    <div class="pure-g">

        <div id="parent_model" class="pure-u-1-2">
            <img class="model_img" src="../../media/plans/img_{{ parent_name }}.png">
            <div class="model_info">
                <h4><i class="fa fa-male"></i><i class="fa fa-female"></i>&nbsp;parent model</h4>
             <table class="pure-table2 pure-table-horizontal">
                    <tbody><tr><td>
                        name
                    </td><td>
                        <i class="fa fa-angle-right"></i>&nbsp;<b id="parent_name">{{ parent_name }}</b>
                    </td></tr><tr>
                        <td>
                            <p>parent points</p>
                        </td><td>
                        <i class="fa fa-angle-right"></i>&nbsp;<b id="parent_points">{{ parent_points|floatformat:"0" }}</b>
                        </td>
                    </tr>
                 </tbody></table>

            </div>

        </div>
        <div id="current_model" class="pure-u-1-2">
            <div id="webgl_canvas_finalize" class="model_img"></div>
            <div class="model_info">
                <h4><i class="fa fa-child"></i>&nbsp;new model</h4>
             <table class="pure-table2 pure-table-horizontal">
                    <tbody><tr><td>
                        similarity
                    </td><td>
                         <i class="fa fa-angle-right"></i>&nbsp;<b id="similarity"></b>
                    </td></tr><tr>
                        <td>
                            cost
                        </td><td>
                        <i class="fa fa-angle-right"></i>&nbsp;<i class="fa fa-jpy"></i><b id="cost"></b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>points</p>

                        </td><td>
                        <i class="fa fa-angle-right"></i>&nbsp;<b id="points_inborn"></b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>architect</p>
                        </td>
                        <td>
                           <i class="fa fa-angle-right"></i>&nbsp;<b id="architect">{{ user.username }}</b>
                        </td>
                    </tr>
                 </tbody></table>

            </div>


                <div id="name_box">
                    <span id="status"></span><br><br>
                    <input type="text" id="name_input" class="input-default" name="name" size="30" placeholder="model name">
                    <br><br>
                    <button id="check_name" class="button-xsmall1 pure-button" onclick="validate_name()">check name</button>
                    <button id="save_plan" class="button-xsmall2 pure-button" onclick="save_plan()">send plan!!</button>

                </div>

                <div id="actions">
                    <button class="button-xsmall3 pure-button" onclick="history.back()">go back</button>
                </div>

        </div>

        <div id="model_info" class="pure-u-1-1">

        </div>
    </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block canvas %}

{% endblock %}

