{% if user.is_authenticated %}


    <div class="webfont header_text">
        <i class="fa fa-male fa-1"></i> Hi, {{ user.username }}. <i class="fa fa-sign-out fa-1"></i><a href="/log_out/">log out</a>.
</div>

        <div class="timers">
            <div id="timers_creation"></div>
            <div id="timers_evaluation"></div>
        </div>

    <script type="text/javascript">

        var impData = {{ plans_json|safe}};
        var count = 0;
        var Lst = Lst_sort();

        $(document).ready(function () {
            //Examples of how to assign the Colorbox event to elements
            if (count == Lst.length) {

                $(".iframe").colorbox({iframe: true, width: "880px", height: "100%", open: false, opacity: 0.5});
                count += 1;
            }

        });
    </script>

{% else %}

    <div class="webfont">you are not logged in, you can either login or <a href="/sign_up/">sign-up</a>.
    </div>

    <div class="pure-control-group">



        <input type="email" id="e-mail" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <button class="button-xsmall4 pure-button" onclick="log_in()"><i class="fa fa-sign-in fa-1"></i>   log-in</button>
    </div>
    <div>

    <script type="text/javascript">

        var impData = {{ plans_json|safe}};
        var count = 0;
        var Lst = Lst_sort();

        $(document).ready(function () {
            //Examples of how to assign the Colorbox event to elements
            if (count == Lst.length) {

                $(".iframe").colorbox({iframe: true, width: "880px", height: "100%", open: true, opacity: 0.5});
                count += 1;
            }

        });
    </script>




{% endif %}
