    {% if user.is_authenticated %}

        Hi, {{ user.username }}. <a href="/log_out/">log out</a>.

    {% else %}




        <div class="pure-control-group">
        <style scoped>

        .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

    </style>

        <input type="email" id="e-mail" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
            <button class="button-small pure-button" onclick="log_in()">log-in</button>
        </div>


    {% endif %}
