    {% if user.is_authenticated %}

        Hi, {{ user.username }}. <a href="/log_out/">log out</a>.

        <div id="timers">
        <div id="timers_creation"></div>
        <div id="timers_evaluation"></div>
    </div>

    {% else %}




        <div class="pure-control-group">
        <style scoped>

        .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

    </style>
            <div class="webfont">you are not logged in, you can either login or <a href="/sign_up/">sign-up</a>.
                </div>

        <input type="email" id="e-mail" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
            <button class="button-small pure-button" onclick="log_in()">log-in</button>
        </div>


    {% endif %}
