{% extends "base.html" %}

{% block contentHeader %}
    <div id="login-info">
        {% if user.is_authenticated %}
            <div style="padding-top: 8px">
                hi! you are logged in as {{ user.username }}. <a href="./logout/"><i class="fa fa-sign-out"></i>log out</a>
            </div>
        {% else %}
            <form class="pure-form " method="post">
                {% csrf_token %}
                <input type="text" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-sign-in"></i> sign-in
                </button>
                or <a href="./signup/"> sign-up</a> now !
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="pure-u-1">
        <h1>
            Welcome to LMN architecture!
        </h1>

        <h2>Introducing the decentralized version of architecture.</h2>
    </div>
    <!-- todo:revise this page's text. -->
    <div class="pure-u-7-24">
        <h3>Initial statement</h3>

        <p>
            This system was made for the competition <a href="">algodeq</a>. To show a new method of designing, using
            collective intelligence.
            The goal for the participating users will be simply modeling the best model, evaluated by the other users in
            the system. However, there is
            one major limitation, that the users will be forced to inherit another model which already exists.
        </p>
        <a class="pure-button pure-button-primary" href="#">tell me more about it.</a>
        <hr>
        <p>
            このシステムは<a href="">algodeq</a>というコンペのために、開発されたものです。分散バージョン管理という方法を使った新しいデザインの可能性を追求します。
            システムに参加するユーザーの目的は、「最も評価されるモデル」を作ることですが、「すでにあるモデルを継承したほうが有利に働きやすい」特殊なルールがあります。
        </p>
        <a class="pure-button pure-button-primary" href="#">更に詳しく。</a>
    </div>

    <div class="pure-u-7-24">
        <h3>How to attend.</h3>

        <p>
            To start off, first you need to register for an account. Then you will be able to make and evaluate models
            from other users, and earn points.
        </p>
        <a class="pure-button pure-button-primary" href="#">sign-up!</a>
        <hr>
        <p>
            参加するには、初めに登録する必要があります。その後、評価・モデルの制作をし、ポイントを獲得していきます。
        </p>
        <a class="pure-button pure-button-primary" href="#">参加登録</a>
    </div>

    <div class="pure-u-7-24">
        <h3>Behind the screens.</h3>

        <p>
            This web application uses webGL. the model creation process will be done one your current modern browser.
            The system also uses the diff algorithm to calculate the ratio of the differences within models.
        </p>
        <a class="pure-button pure-button-primary" href="#">tell me more about it.</a>
        <hr>
        <p>
            このシステムはwebGLという技術を使っています。したがってブラウザの中でモデル制作が可能になります。モデルとモデルの評価にはDiffというアルゴリズムを使っています。
        </p>
        <a class="pure-button pure-button-primary" href="#">もっと詳しく。</a>
    </div>

    <div class="pure-u-1-3">
        <p>
            <a class="pure-button pure-button-primary button-large" href="/main/">go to tree diagram.</a>
            {% if user.is_authenticated %}{% else %}
                or <a class="pure-button pure-button-primary button-large" href="/signup/">sign-up</a>
            {% endif %}
        </p>
    </div>
{% endblock %}