{% extends "base.html" %}
{% load staticfiles %}

{% block title %} lmn architecture {% endblock %}


{% block head %}



    <script type="text/javascript" src="{% static "js/three.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.layout.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/packages.js" %}"></script>
    <script src="{% static "js/jquery.colorbox.js" %}"></script>
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/helper_functions.js" %}"></script>



    {#    <link type="text/css" rel="stylesheet" href="{% static "css/d3style.css" %}"/>#}
    {#    <style>#}
    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }




    </style>

    <script>
        {#        var plans_json = JSON.parse({{ plans_json|safe}});#}
        var csrf_token = '{{ csrf_token }}';

    </script>



    <script src="{% static "js/index.js" %}">

    </script>

{% endblock %}

{% block header %}
    <!-- todo: make header -->

    <div class="pure-g">


        <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

            <h2>the decentralized version controlled building system</h2>
        </div>
        <div class="pure-u-2-5">

            <div class="login">
                <br/>


                　　　　　<a class='iframe' href="{% static "html/information.html" %}">about this site</a>


                {% include "header_with_login.html" %}

            </div>


        </div>
    </div>


{% endblock %}

{% block contents %}


    <div class="pure-g">

        <div class="pure-u-4-5">
            <script>
                var impData = {{ plans_json|safe}};
                var count = {{ plans_num }};
                treeDiagram();
            </script>
        </div>
        <div class="pure-u-1-5">


            <div id="make-list">
                <table class="pure-table pure-table-horizontal">
                    <thead>
                    <tr>
                        <th><a href="javascript:void(0);" onclick='reWrite(Lst,"rank");'
                               OnMouseOver='MouseIn(Lst[1].id);' OnMouseOut='MouseOut(Lst[1].id);'>rank</a></th>
                        <th>
                            <a href="javascript:void(0);" onclick='reWrite(Lst,"id");'>ID</a>
                        </th>
                        <th><a href="javascript:void(0);" onclick='reWrite(Lst,"name");'>name</a></th>
                        <th><a href="javascript:void(0);" onclick='reWrite(Lst,"total_points");'>point</a></th>
                        <th><a href="javascript:void(0);" onclick='reWrite(Lst,"similarity");'>diff</a></th>
                        <th><a href="javascript:void(0);" onclick='reWrite(Lst,"creation_time");'>time</a></th>
                    </tr>
                    </thead>
                    <tbody id="table_list">
                    <script>
                        var Lst = Lst_sort();
                        SortScore(Lst, "total_points");
                        domMaker(Lst);
                    </script>
                    <tbody>

                </table>


            </div>

        </div>
    </div>





{% endblock %}

{% block footer %}
    <!-- todo: make footer -->
    {{ plans_json }}

{% endblock %}

