{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}


{% block head %}

    <!-- main -->
    <script src="{% static "js/model_manipulation.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>

    {% include "inhead_declaration.html" %}

    <script>
        console.log(path_to_static);
        var plan_json = {{ plan_json | safe}};  // plan will be render in any occasion.
        var is_make = true;
        $(document).ready(function () {
            initialize();
            // 'initialize' written in model_manipulation.js
        });
    </script>

{% endblock %}

{% block header %}
    <!-- authentication process -->
    <div class="width-wide">

    <div class="pure-g">


        <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

            <h2>the decentralized version controlled building system</h2>
        </div>
        <div class="pure-u-2-5">

            　　　　　
            <div class="info"><a class='iframe' href="{% static "html/information.html" %}">
                <button class="button-xsmall pure-button">about this site</button>
            </a></div>

            <div class="login">
                {% include "header_with_login.html" %}

            </div>


        </div>
    </div>
    </div>

{% endblock %}

{% block contents %}
    <div class="width-wide">
    <div id="side_bar">
        <div id="model_info">
            <div id="parent_model_info">
                &nbsp;<i class="fa fa-cube"></i>&nbsp;Parent Model Information
                <table class="pure-table2 pure-table-horizontal">
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>
                            <i class="fa fa-angle-right"></i>&nbsp;{{ plan.id }}</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>
                            <i class="fa fa-angle-right"></i>&nbsp;{{ plan.name }}</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>

                            <i class="fa fa-angle-right"></i>&nbsp;{{ plan.creation_time}}
                        </td>
                    </tr>
                    <tr>
                        <td>similarity</td>
                        <td>

                            <i class="fa fa-angle-right"></i>&nbsp; {{ plan.similarity }}
                        </td>
                    </tr>
                    <tr>
                        <td>points</td>
                        <td>

                            <i class="fa fa-angle-right"></i>&nbsp;{{ plan.get_total_points }}
                        </td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>

                            <i class="fa fa-angle-right"></i>&nbsp;{{ plan.cost }}
                        </td>
                    </tr>
                    <tr>
                        <td>architect</td>
                        <td>

                            <i class="fa fa-angle-right"></i>&nbsp; {{ plan.architect.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>parent</td>
                        <td>

                            {% if plan.parent_plan %}
                                <i class="fa fa-angle-right"></i>&nbsp;
                                <a href="./{{ plan.parent_plan.name }}">{{ plan.parent_plan.name }}</a>


                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            </br>
            <div id="current_model_info">
                &nbsp;<i class="fa fa-cube"></i>&nbsp;Current Model Information
                <table class="pure-table2 pure-table-horizontal">
                    <tbody>
                    <tr>
                        <td>similarity</td>
                        <td>
                            <i class="fa fa-angle-right"></i>&nbsp; <b id="new_model_similarity"></b></td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>
                            <i class="fa fa-angle-right"></i>&nbsp;<b id="new_model_cost"></b></td>
                    </tr>


                    </tbody>
                </table>
                &nbsp;<i class="error"></i>

            </div>

            <div id="new_model_info">
                <p id="new_model_similarity"></p>

                <p id="new_model_cost"></p>

                <p class="error"></p>
            </div>
        </div>

        <div id="actions">
            <i class="fa fa-cog"></i>&nbsp;TOOLS

            <div id="make">
                <div id="program_navigation">
                    <button class="make_creation button-living" onclick="change_room_type(0);">living</button>

                    <button class="make_creation button-dining" onclick="change_room_type(1);">dining</button>

                    <button class="make_creation button-kitchen" onclick="change_room_type(2);">kitchen</button>


                    <button class="make_creation button-bedroom" onclick="change_room_type(3);">bedroom</button>

                    <button class="make_creation button-wc" onclick="change_room_type(4);">wc/bath</button>

                    <button class="make_creation button-staircase" onclick="change_room_type(5);">staircase</button>


                    <button class="make_creation button-delete" onclick="change_room_type(6);">delete</button>

                </div>
                <div id="level_navigation">

                    <button class="make_creation button-default" onclick="change_floor(0);">1f</button>
                    <br>

                    <button class="make_creation button-default" onclick="change_floor(1);">2f</button>
                    <br>

                    <button class="make_creation button-default" onclick="change_floor(2);">3f</button>
                </div>
            </div>

            {% if user.is_authenticated %}
                <button id="finalize" class="button-large" onclick="to_finalize()"><i class="fa fa-check-square-o"></i>&nbsp;finalize&nbsp;
                </button>
            {% else %}
                <p class="error">you can create plans if you are logged in.</p>
            {% endif %}
            </br></br>

            <button class="go_back button-default" onclick="history.back()"><i class="fa fa-undo"></i>&nbsp;go back
            </button>
        </div>


    </div>

    <!-- submit info for finalize  -->
    <form name="finalization" action="/finalize/" method="post">
        {% csrf_token %}
        <input type="hidden" name="new_geometry" id="new_geometry" value="">
        <input type="hidden" name="new_similarity" id="new_similarity" value="">
        <input type="hidden" name="parent_id" id="parent_id" value="{{ plan.id }}">
        <input type="hidden" name="parent_name" id="parent_name" value="{{ plan.name }}">
        <input type="hidden" name="parent_points" id="parent_points" value="{{ plan.get_total_points }}">
    </form>

    </div>

{% endblock %}

{% block footer %}

{% endblock %}

{% block canvas %}
    <div id="webgl_canvas"></div>
{% endblock %}