{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}


{% block head %}

    <!-- main -->
    <script src="{% static "js/model_manipulation.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>


    {% include "inhead_declaration.html" %}


    <script>
        console.log(path_to_static);
        var plan_json = {{ plan_json | safe}};  // plan will be render in any occasion.
        var is_make = true;
        $(document).ready(function () {
            initialize();
            // 'initialize' written in model_manipulation.js
        });
    </script>

{% endblock %}

{% block header %}
    <!-- authentication process -->
    {% include "header_with_login.html" %}
{% endblock %}

{% block contents %}

    <div id="model_info">
        <div id="parent_model_info">
            <p id="parent_name">{{ plan.name }}</p>

            <p id="parent_time">{{ plan.creation_time }}</p>

            <p id="parent_similarty">{{ plan.similarity }}(to grandparent plan)</p>

            <p id="parent_points">{{ plan.get_total_points }}</p>

            <p id="parent_user">{{ plan.architect.username }}</p>
            {% if plan.parent_plan %}
                <p id="parent_parent_name"><a href="./{{ plan.parent_plan.name }}">{{ plan.parent_plan.name }}</a></p>
            {% endif %}
        </div>

        <div id="new_model_info">
            <p id="new_model_similarity"></p>

            <p id="new_model_cost"></p>
        </div>
    </div>

    <div id="actions">
        <div id="make">
            <button class="make_creation" onclick="change_room_type(0);">living</button>

            <button class="make_creation" onclick="change_room_type(1);">dining</button>

            <button class="make_creation" onclick="change_room_type(2);">kitchen</button>

            <button class="make_creation" onclick="change_room_type(3);">bedroom</button>

            <button class="make_creation" onclick="change_room_type(4);">wc/bath</button>

            <button class="make_creation" onclick="change_room_type(5);">staircase</button>

            <button class="make_creation" onclick="change_room_type(6);">delete</button>

            <button class="make_creation" onclick="change_floor(0);">1f</button>

            <button class="make_creation" onclick="change_floor(1);">2f</button>

            <button class="make_creation" onclick="change_floor(2);">3f</button>
        </div>
        {% if user.is_authenticated %}
            <button id="finalize" onclick="to_finalize()">finalize</button>
        {% else %}
            <p class="error">you can create plans if you are logged in.</p>
        {% endif %}
        <button class="go_back" onclick="history.back()">go back</button>

        <p class="error"></p>
    </div>

    <!-- submit info for finalize  -->
    <form name="finalization" action="/finalize/" method="post">
        {% csrf_token %}
        <input type="hidden" name="new_geometry" id="new_geometry" value="">
        <input type="hidden" name="new_similarity" id="new_similarity" value="">
        <input type="hidden" name="parent_id" id="parent_id" value="{{ plan.id }}">
        <input type="hidden" name="parent_name" id="parent_name" value="{{ plan.name }}">
        <input type="hidden" name="parent_points" id="parent_points" value="{{ plan.get_total_points }}">
    </form>

{% endblock %}

{% block footer %}

{% endblock %}

{% block canvas %}
    <div id="webgl_canvas"></div>
{% endblock %}