{% extends "base.html" %}

{% block contentHeader %}
    <div id="login-info">
            <div style="padding-top: 8px">
                <a href="../"><i class="fa fa-angle-double-left"></i> go back to top.</a>
            </div>
    </div>
{% endblock %}

{% block content %}
    <div class="pure-u-1">
        <h1>
            Registration:
        </h1>
    </div>
    <!-- registation form -->
    <div class="pure-u-1-3">
        <fieldset class="pure-group" id="signup-form">
            <form action="" method="post" class="pure-form pure-form-aligned">
                {% csrf_token %}
                {#            {{ form.as_p }}#}
                <div class="pure-control-group label-text"><i class="fa fa-envelope"></i><input id="id_email"
                                                                                                maxlength="255"
                                                                                                name="email"
                                                                                                type="email"
                                                                                                placeholder="email"
                                                                                                required></div>
                <div class="pure-control-group  label-text"><i class="fa fa-user"></i><input id="id_username"
                                                                                             maxlength="128"
                                                                                             name="username" type="text"
                                                                                             placeholder="username"
                                                                                             required></div>
                <div class="pure-control-group  label-text"><i class="fa fa-key"></i><input id="id_password1"
                                                                                            name="password1"
                                                                                            type="password"
                                                                                            placeholder="password"
                                                                                            required></div>
                <div class="pure-control-group  label-text"><i class="fa fa-key"></i><input id="id_password2"
                                                                                            name="password2"
                                                                                            type="password"
                                                                                            placeholder="confirm password"
                                                                                            required></div>
                <button type="submit" class="pure-button pure-button-primary">sign-up</button>
            </form>
        </fieldset>
    </div>

    <div class="pure-u-1-3">
        <h3>Register for LMN architecture</h3>
        `
        <p>
            acknowledgements:<br>
            All fields are required. Email addresses will not be used except the following reasons.</p>
        <ul>
            <li>to notify the result of this system, and contact for the reward.</li>
            <li>to logging in and authentication.</li>
        </ul>

        <h3>LMN architectureに登録する</h3>

        <p>
            お知らせ：<br>
            項目は全て必須です。Emailアドレスは下記以外の目的に使いません。</p>
        <ul>
            <li>結果の通知と報酬のご連絡</li>
            <li>ログインと認証</li>
        </ul>
    </div>

{% endblock %}