{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}


{% block head %}

    <!-- main -->
    <script src="{% static "js/model_manipulation.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>

    {% include "inhead_declaration.html" %}

    <script>
        var plan_json = {{ plan_json | safe}};  // plan will be render in any occasion.
        var is_make = false;
        $(document).ready(function () {

            initialize();
            // 'initialize' written in make.js
        });
    </script>

{% endblock %}

{% block header %}
    <!-- authentication process -->
    <div class="pure-g">


        <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

            <h2>the decentralized version controlled building system</h2>
        </div>
        <div class="pure-u-2-5">

            　　　　　
            <div class="info"><a class='iframe' href="{% static "html/information.html" %}">
                <button class="button-xsmall pure-button">about this site</button>
            </a></div>

            <div class="login">
                {% include "header_with_login.html" %}

            </div>


        </div>
    </div>



    <!--{% include "header_with_login.html" %}-->
{% endblock %}

{% block contents %}
    <div id="navigation">
        <div id="model_info">
            <div id="parent_model_info">
            &nbsp;<i class="fa fa-cube"></i>Model Information
                <table class="pure-table2 pure-table-horizontal">
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>
                           <i class="fa fa-angle-right"></i>&nbsp;{{ plan.id }}</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>
                           <i class="fa fa-angle-right"></i>&nbsp;{{ plan.name }}</td>
                    </tr>
                    <tr>
                        <td>time</td>
                        <td>

                           <i class="fa fa-angle-right"></i>&nbsp;{{ plan.creation_time }}
                        </td>
                    </tr>
                    <tr>
                        <td>similarity</td>
                        <td>

                           <i class="fa fa-angle-right"></i>&nbsp; {{ plan.similarity }}
                        </td>
                    </tr>
                    <tr>
                        <td>total points</td>
                        <td>

                           <i class="fa fa-angle-right"></i>&nbsp;{{ plan.get_total_points }}
                        </td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>

                           <i class="fa fa-angle-right"></i>&nbsp;{{ plan.cost }}
                        </td>
                    </tr>
                    <tr>
                        <td>architect</td>
                        <td>

                           <i class="fa fa-angle-right"></i>&nbsp;  {{ plan.architect.username }}
                        </td>
                    </tr>
                     <tr>
                        <td>parent</td>
                        <td>

                {% if plan.parent_plan %}
                    <i class="fa fa-angle-right"></i>&nbsp;<a href="./{{ plan.parent_plan.name }}">{{ plan.parent_plan.name }}</a>

                    </tbody>
                </table>
                {% endif %}
            </div>

            <div id="model_action">
            <p>
                <button class="button-xsmall pure-button" onclick="document.location.href='../../'"><i class="fa fa-undo"></i>&nbsp;back to tree diagram
                </button></p>
                <p>
                {% if user.is_authenticated %}
                    <button id="model_add_points" class="button-xsmall pure-button" onclick="add_points({{ plan.id }},10.0)"><i class="fa fa-plus-square"></i>&nbsp;add
                        points
                    </button>
                {% else %}
                    you can add points by logging in.
                {% endif %}
                <button id="model_make_plan" class="button-xsmall pure-button" onclick="make_plan({{ plan.id }})"><i class="fa fa-cubes"></i>&nbsp;make plan</button>
            </p>
            </div>
        </div>
    </div>




{% endblock %}

{% block footer %}

{% endblock %}

{% block canvas %}
    <div id="webgl_canvas"></div>
{% endblock %}