{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}


{% block head %}

    <!-- main -->
    <script src="{% static "js/model_manipulation.js" %}"></script>
    <script src="{% static "js/events.js" %}"></script>
    <script src="{% static "js/jquery.colorbox.js" %}"></script>
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>

    {% include "inhead_declaration.html" %}

    <script>
        var plan_json = {{ plan_json | safe}};  // plan will be render in any occasion.
        var is_make = false;
        $(document).ready(function () {

            initialize();
            // 'initialize' written in make.js
        });
        $(document).ready(function () {
            //Examples of how to assign the Colorbox event to elements


            $(".iframe").colorbox({iframe: true, width: "880px", height: "100%", open: false, opacity: 0.5});
            count += 1;


        });
    </script>

{% endblock %}

{% block header %}
    <!-- authentication process -->
    <div class="width-wide">
        <div class="pure-g">


            <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

                <h2>the decentralized version controlled building system</h2>
            </div>
            <div class="pure-u-2-5">

                　　　　　
                <div class="info"><a class='iframe' href="/information">
                    <button class="button-xsmall1 pure-button"><i class="fa fa-question">&nbsp;&nbsp;</i>this site
                    </button>
                </a></div>


                <div class="login">
                    {% include "header_with_login.html" %}

                </div>
            </div>


        </div>
    </div>


{% endblock %}

{% block contents %}
    <div class="width-wide">
        <div id="navigation">
            <div id="model_info">
                <div id="parent_model_info">
                    &nbsp;<i class="fa fa-cube"></i>&nbsp;Model Information
                    <table class="pure-table2 pure-table-horizontal">
                        <tbody>
                        <tr>
                            <td>id</td>
                            <td>
                                <i class="fa fa-angle-right"></i>&nbsp;{{ plan.id }}</td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>
                                <i class="fa fa-angle-right"></i>&nbsp;{{ plan.name }}</td>
                        </tr>
                        <tr>
                            <td>time</td>
                            <td>

                                <i class="fa fa-angle-right"></i>&nbsp;{{ plan.get_str_time }}
                            </td>
                        </tr>
                        <tr>
                            <td>similarity</td>
                            <td>

                                <i class="fa fa-angle-right"></i>&nbsp;{{ plan.get_str_similarity }}
                            </td>
                        </tr>
                        <tr>
                            <td>points</td>
                            <td>


                                <i class="fa fa-angle-right"></i>&nbsp;<span
                                    id="plan_total_points">{{ plan.get_total_points|floatformat:"0" }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>cost</td>
                            <td>


                                <i class="fa fa-angle-right"></i>&nbsp;<i class="fa fa-jpy"></i>{{ plan.get_str_cost }}

                            </td>
                        </tr>
                        <tr>
                            <td>architect</td>
                            <td>

                                <i class="fa fa-angle-right"></i>&nbsp;{{ plan.architect.username }}
                            </td>
                        </tr>
                        <tr>
                            <td>parent</td>
                            <td>

                                {% if plan.parent_plan %}
                                    <i class="fa fa-angle-right"></i>&nbsp;
                                    <a href="./{{ plan.parent_plan.name }}">{{ plan.parent_plan.name }}</a>


                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="model_action">

                    <p>
                        {% if user.is_authenticated %}

                            {% if user.username == plan.architect.username %}
                                <span class="error"> you can't add points to your own model.</span><br>
                            {% else %}
                                <button id="model_add_points" class="button-xsmall1 pure-button"
                                        onclick="add_points({{ plan.id }},10.0)"><i class="fa fa-plus-square"></i>&nbsp;add
                                    points
                                </button>
                            {% endif %}
                        {% else %}
                            <!-- points from anon -->
                            <button id="model_add_points" class="button-xsmall1 pure-button"
                                    onclick="add_points({{ plan.id }},3.0,true)"><i class="fa fa-plus-square"></i>&nbsp;add
                                points
                            </button>
                        {% endif %}
                        <button id="model_make_plan" class="button-xsmall1 pure-button"
                                onclick="make_plan({{ plan.id }})"><i class="fa fa-cubes"></i>&nbsp;make plan
                        </button>
                    </p>

                    <p>
                        <button class="button-xsmall3 pure-button" onclick="document.location.href='../../'"><i
                                class="fa fa-undo"></i>&nbsp;back to tree diagram
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block footer %}

{% endblock %}

{% block canvas %}
    <div id="webgl_canvas"></div>
{% endblock %}