{% extends "base.html" %}
{% load staticfiles %}

{% block inHead %}
    <script type = "text/javascript" src="{% static "js/diff_match_patch.js" %}"></script>

 {% endblock %}

{% block inHeadScript %}

    <script type="text/javascript">

        onload = function(){
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            ctx.fillStyle="#FF00F0";
            ctx.fillRect(10,10,10,10);
            ctx.fillRect(50,50,50,50);
            ctx.fillRect(100,100,100,100);

            //canvas to URL
            //document.forms['form'].elements['img'].value = c.toDataURL().replace("data:image/png;base64,","");

            //webcam feature detection
            function hasGetUserMedia(){
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
            };

            if (hasGetUserMedia()){
                //all set
            }else{
                alert('cannot use web cam for imgs.');
            }
        };


    </script>

{% endblock %}


{% block title%} {% endblock %}

{% block contentHeader %} sample for creation {% endblock %}
{% block content %}

    <script type="text/javascript">
        //diff test
    function launch(){
        var text1= document.getElementById('text1').innerHTML;
        var text2= document.getElementById('text2').innerHTML;

        var dmp = new diff_match_patch();
        alert(text1);
        dmp.Diff_Timeout = 0;

        var d = dmp.diff_main(text1,text2,false);

        var ds = dmp.diff_prettyHtml(d);

        alert(d);

        //document.getElementById('text3').innerHTML = ds

    }//launch

    </script>

    <div id="text1"> test test cat dog test. </div>
    <div id="text2"> test test test cat test.</div>

    <input type = button onclick="launch()" value = compute>

    <div id="text3"></div>

    <canvas id="canvas" width="600" height="400" style="border: 1px solid #000000;">
    </canvas>

    <div id="text4"></div>



    <form action="/saveImage/" name="form" method="post">
        {% csrf_token %}
        <input type="hidden" name="img" value="--">
        <input type="submit" value="save image">
    </form>

    <video autoplay id="vid"></video>
{#    <canvas id="photobooth" width="600" height="400" style="border: 1px solid #000000;">#}

    </canvas>

    <script>


    var video = document.getElementById('vid');
    var canvas = document.getElementById('canvas')
    var pb_context = canvas.getContext('2d');
    var localMediaStream = null;

    function snapshot(){
                if(localMediaStream){
                    pb_context = canvas.getContext('2d');
                    pb_context.drawImage(video,0,0);
                    document.forms['form'].elements['img'].value = canvas.toDataURL().replace("data:image/png;base64,","");
                }
            }

    video.addEventListener('click',snapshot,false);

    //using the camera

    var errorCallBack = function(e){
        console.log('Rejected...',e);
    };

    navigator.getUserMedia  = navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia;

   // var video = document.querySelector('video');

    if (navigator.getUserMedia) {
        navigator.getUserMedia({video: true}, function(stream) {
        video.src = window.URL.createObjectURL(stream);
        localMediaStream = stream;
    }, errorCallBack);
    } else {
    video.src = 'somevideo.webm'; // fallback.
    }

    </script>

 {% endblock %}
{% block contentFooter %}
    <a href="../">back to main</a>
{% endblock %}