{% extends "base.html" %}
{% load staticfiles %}

{% block title %} lmn architecture {% endblock %}


{% block head %}

    <script type="text/javascript" src="{% static "js/three.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.layout.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/packages.js" %}"></script>
    <script src="{% static "js/jquery.colorbox.js" %}"></script>
    <script src="{% static "js/jquery.colorbox-min.js" %}"></script>
    <script src="{% static "model/class/Plan.js" %}"></script>
    <script type="text/javascript" src="{% static "js/helper_functions.js" %}"></script>



    {#    <link type="text/css" rel="stylesheet" href="{% static "css/d3style.css" %}"/>#}
    {#    <style>#}
    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }


    </style>

    <script>
        var impData = {{ plans_json|safe}};
        var csrf_token = '{{ csrf_token }}';
    </script>

    <script src="{% static "js/index.js" %}"></script>


{% endblock %}



{% block header %}
    <div class="width-wide2">

        <div class="pure-g">


            <div class="pure-u-3-5"><h1>LMN ARCHITECTURE.COM</h1>

                <h2>the decentralized version controlled building system</h2>
            </div>
            <div class="pure-u-2-5">

                　　　　　
                <div class="info"><a class='iframe' href="/information">
                    <button class="button-xsmall1 pure-button"><i class="fa fa-question">&nbsp;&nbsp;</i>this site
                    </button>
                </a></div>

                <div class="login">
                    {% include "header_with_login.html" %}
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block contents %}
    <div class="width-wide2">


        <div class="pure-g">

            <div class="pure-u-24-24">
                <script>

                    var count = {{ plans_num }};
                    var users = "{{ user.username|safe }}";
                    var bool = false;
                    treeDiagram(users,bool);
                </script>
            </div>

        </div>
    </div>





{% endblock %}


{% block footer %}
    <!-- todo: make footer -->

{% endblock %}



