{% extends "obsolete/base.html" %}
{% load staticfiles %}

{% block content %}

    <script type="text/javascript" src="{% static "js/three.js" %}"></script>
    <script type="text/javascript" src="{% static "js/OrbitControls.js" %}"></script>

    <script>
    console.log("002");
    </script>

    <script type="text/javascript" src="{% static "model/Coefficients.js" %}"></script>

    <script type="text/javascript" src="{% static "model/main.js" %}"></script>

    <script>


        //GLOBAL
        var camera, scene, renderer;
        var controls, clock, projector;
        var mesh;

        //SETUP
        function setup() {

            document.body.style.backgroundColor = '#cccccc';

            //functions are written in "main.js"
            setupThreeJS();
            console.log("000");
            setupWorld([modelGeometries[0]]);
            console.log("001");
            setupEvents();

            requestAnimationFrame(function animate() {
                renderer.render(scene, camera);
                controls.update(clock.getDelta());
                requestAnimationFrame(animate());
            });

        }


        var modelGeometries = [];
        //data from server
        {% for p in rawPlans %}
            modelGeometries.push({{ p.geometry | safe }});
        {% endfor %}


        setup();
    </script>

{% endblock %}