{% extends "obsolete/base.html" %}
{% load staticfiles %}

{% block title %} main {% endblock %}

{% block inHead %}
    <!-- TODO: moved jquery to base.html template -->
    <script type="text/javascript" src="{% static "js/three.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.layout.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/packages.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/d3style.css" %}"/>
    <style>

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }

    </style>

{% endblock %}
{% block inHeadScript %}
    <script>

        var sec_create = Math.ceil({{ sec_create }});
        var sec_eval = Math.ceil({{ sec_eval }});

        window.onloadit = function () {
            while ((sec_create != 0) || (sec_eval != 0)) {
                sec_create--;
                sec_eval--;
                setTimeout("action_timer()", 1000);
            }
        }

        function action_timer() {
            if (sec_create < 0) {
                $("#is_creation")
            } else {
                $("#is_creation").html = "[ready to create model]";
            }

            if (sec_eval < 0) {
                $("#is_eval").html = "[you have " + sec_eval + "seconds for the next evaluation.]";
            } else {
                $("#is_eval").html = "[ready to evaluate model]";
            }

        }


    </script>
{% endblock %}

{% block contentHeader %}
    <div id="login-info">
        {% if user.is_authenticated %}
            <div style="padding-top: 8px">
                hi! you are logged in as {{ user.username }}.
                <span id="is_creation">[ready to create model]</span> <span id="is_eval">[ready to evaluate model]</span> <a href="javascript:history.go(0)"><i class="fa fa-repeat"></i> reload status. </a>
                or just <a href="/logout/"><i class="fa fa-sign-out"></i>log out and leave.</a>
            </div>
        {% else %}
            <form class="pure-form " method="post">
                {% csrf_token %}
                <input type="text" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-sign-in"></i> sign-in
                </button>
                or <a href="./signup/"> sign-up</a> now !
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="pure-g-u">


    {% for p in rawPlans %}

        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>

    {% endfor %}

    <div id="body">
    /////////test d3
    {#            <script src="{% static "js/newick.js" %}"></script>#}
    {#        <script src="{% static "js/life.js" %}"></script>#}
    <script type="text/javascript">
    var impData = {{ plans | safe }};
    var count = {{ nums }};

    var data = impData[0];
    var yid = 1105;
    var w = 1280,
            h = 800,
            rx = w / 2,
            ry = h / 2,
            m0,
            r = 960 / 2,
            rotate = 0;

    var totalSize = 0;

    var cluster = d3.layout.cluster()
            .size([360, 300])
            .sort(null)
            .value(function (d) {
                return d.length;
            })


    function project(d) {
        var r = d.y, a = (d.x - 90) / 180 * Math.PI;
        return [r * Math.cos(a), r * Math.sin(a)];
    }
    function cross(a, b) {
        return a[0] * b[1] - a[1] * b[0];
    }
    function dot(a, b) {
        return a[0] * b[0] + a[1] * b[1];
    }
    function step(d) {
        var s = project(d.source),
                m = project({x: d.target.x, y: d.source.y}),
                t = project(d.target),
                r = d.source.y,
                sweep = d.target.x > d.source.x ? 1 : 0;
        return (
                "M" + s[0] + "," + s[1] +
                        "A" + r + "," + r + " 0 0," + sweep + " " + m[0] + "," + m[1] +
                        "L" + t[0] + "," + t[1]);
    }
    var diagonal = d3.svg.diagonal.radial()
            .projection(function (d) {
                return [d.y, d.x / 180 * Math.PI];
            });

    var svg = d3.select("#body").append("div")
            .style("width", w + "px")
            .style("height", w + "px");

    var vis = svg.append("svg:svg")
            .attr("width", 1800)
            .attr("height", w)
            .append("svg:g")
            .attr("transform", "translate(" + r + "," + r + ")");

    vis.append("svg:path")
            .attr("class", "arc")
            .attr("d", d3.svg.arc().innerRadius(ry - 80).outerRadius(ry + 100).startAngle(0).endAngle(2 * Math.PI))
            .style("fill", "#FFFF00");

    var start = null,
            rotate = 90,
            div = document.getElementById("body");


    function phylo(n, offset) {
        if (n.length != null) offset += n.length * 115;
        n.y = offset;
        if (n.children)
            n.children.forEach(function (n) {
                phylo(n, offset);
            });
    }

    netnode(data);
    function netnode(json) {
        var nodes = cluster.nodes(json);
        //phylo(nodes[0],0);

        var link = vis.selectAll("path.link")
                .data(cluster.links(nodes))
                .enter().append("svg:path")
                .attr("class", "link")
                .attr("d", step)
                .style("stroke-width", function (d) {
                    return Math.round(d.target.id / 400);
                });

        var node = vis.selectAll("g.node")
                .data(nodes.filter(function (n) {
                    return n.x !== undefined;
                }))
                .enter().append("svg:g")
                .attr("class", "node")
                .attr("transform", function (d) {
                    return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")";
                })

        node.append("svg:circle")
                .attr("r", 2.5);


        var label = vis.selectAll("text")
                .data(nodes.filter(function (d) {
                    return d.x !== undefined;
                    //return d.x !== undefined && !d.children;
                }))
                .enter().append("text")
                .attr("dx", function (d) {
                    return (d.id - yid) * 360 / count < 180 ? 8 : -8;
                })
                .attr("dy", ".31em")
                .attr("text-anchor", function (d) {
                    return (d.id - yid) * 360 / count < 180 ? "start" : "end";
                })
                .attr("transform", function (d) {
                    return "rotate(" + ((d.id - yid) * 360 / count - 90) + ")translate(" + (r - 170 + 8) + ")rotate(" + ((d.id - yid) * 360 / count < 180 ? 0 : 180) + ")";
                })
                .text(function (d) {
                    var ccc = d.id - yid;
                    return d.name;
                })
                .on("mouseover", mouseover)
                .on("mouseleave", mouseleave);
    }
    ;

    d3.select(window)
            .on("mousemove", mousemove)
            .on("mouseup", mouseup);

    function mouseover(d) {

        // Fade all the segments.
        var ob_pro;
        var num;
        var p_num;
        var ch_array;


        d3.select(this)
                .style("fill", "#ffffff")
                .attr("name", function (d) {
                    ob_pro = d.id;
                    ch_array = d.children;
                });
        d3.selectAll("g.node").select("circle")
                .style("stroke", function (d, i) {
                    if (d.id == ob_pro) {
                        num = i;
                        //ch_array = d.children;
                        return "red";
                    } else {
                        for (var l = 0; l < ch_array.length; l++) {
                            if (d.id == ch_array[l].id) {
                                return "#000000";
                            }
                        }

                    }
                })


                .style("stroke-width", function (d, i) {
                    if (d.id == ob_pro) {
                        num = i;
                        ch_array = d.children;
                        return 10;
                    } else {
                        for (var l = 0; l < ch_array.length; l++) {
                            if (d.id == ch_array[l].id) {
                                return 10;
                            }
                        }

                    }
                });

        //select children node
        d3.selectAll("path.link")
                .style("stroke", function (d) {
                    if (d.target.id == ob_pro) {
                        return "#000000";
                    }
                    for (var k = 0; k < ch_array.length; k++) {
                        if (d.target.id == ch_array[k].id) {
                            return "steelblue";
                        }
                    }

                });

        var fontSize = 10;
        var lineSpace = 2;
        var boxHeight = 100;
        var boxWidth = 100;
        var infoBoxHeight = boxHeight * 4.5;
        var infoBoxWidth = boxWidth * 4.5;
        //var nodeName = node.attr("id");
        var infoX = 00;//infoBoxWidth / 2 * 0.6;
        var infoY = -400;//infoBoxHeight / 2 * 1.05;
        var infoBox = vis.append("svg");
        var imgOffsetX = 200;//-infoBoxWidth / 2// * 0.95
        var imgOffsetY = 30;// -infoBoxHeight / 2 + fontSize + 8 + 2 * lineSpace;
        var pass = "media/plans/";

        infoBox
                .attr("class", "popup")
                .attr("x", imgOffsetX + 300)
                .attr("y", imgOffsetY - 200)// -infoBoxHeight / 2 + fontSize + 2 * lineSpace)
                .attr("transform", function (d) {
                    return "translate(" + infoX + "," + infoY + ")";
                });

        infoBox
                .append("text")
                .attr("x", imgOffsetX - 100)
                .attr("y", imgOffsetY)// -infoBoxHeight / 2 + fontSize + 2 * lineSpace)
                .attr("text-anchor", "left")
                .text(d.name)
                .attr("font-size", fontSize + 8 + "px")


        infoBox
                .append("svg:image")
                .attr("xlink:href", pass + "test" + ".jpg")
                .attr("width", infoBoxWidth * 0.99)
                .attr("height", infoBoxHeight * 0.99)
                .attr("x", imgOffsetX - 310)
                .attr("y", imgOffsetY - 20)// -infoBoxHeight / 2 + fontSize + 2 * lineSpace)
                .attr("transform", function (d) {
                    return "translate(" + imgOffsetX + "," + imgOffsetY + ")";
                })
        for (var l = 0; l < ch_array.length; l++) {
            infoBox
                    .append("svg:image")
                    .attr("xlink:href", pass + "test" + ".jpg")
                    .attr("width", infoBoxWidth * 0.99 * 0.5)
                    .attr("height", infoBoxHeight * 0.99 * 0.5)
                    .attr("x", imgOffsetX - 310 + 200 * l)
                    .attr("y", imgOffsetY - 20 + 500)// -infoBoxHeight / 2 + fontSize + 2 * lineSpace)
                    .attr("transform", function (d) {
                        return "translate(" + imgOffsetX + "," + imgOffsetY + ")";
                    })
        }
        infoBox
                .append("svg:image")
                .attr("xlink:href", pass + "test" + ".jpg")
                .attr("width", infoBoxWidth * 0.99 * 0.5)
                .attr("height", infoBoxHeight * 0.99 * 0.5)
                .attr("x", imgOffsetX - 310)
                .attr("y", imgOffsetY - 300)// -infoBoxHeight / 2 + fontSize + 2 * lineSpace)
                .attr("transform", function (d) {
                    return "translate(" + imgOffsetX + "," + imgOffsetY + ")";
                })


    }
    function mouseleave(d) {

        d3.select(this)
                .style("fill", "#000000");

        d3.selectAll("g.node").select("circle")
                .style("stroke", "steelblue");
        d3.selectAll("path.link")
                .style("stroke", "#ccc");
        svg.selectAll(".popup")
                .remove()
    }


    function mouse(e) {
        return [e.pageX - rx, e.pageY - ry];
    }

    function mousedown() {
        m0 = mouse(d3.event);
        d3.event.preventDefault();
    }

    function mousemove() {
        if (m0) {
            var m1 = mouse(d3.event),
                    dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI,
                    tx = "translate3d(0," + (ry - rx) + "px,0)rotate3d(0,0,0," + dm + "deg)translate3d(0," + (rx - ry) + "px,0)";
            svg
                    .style("-moz-transform", tx)
                    .style("-ms-transform", tx)
                    .style("-webkit-transform", tx);
        }
    }

    function mouseup() {
        if (m0) {
            var m1 = mouse(d3.event),
                    dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI,
                    tx = "rotate3d(0,0,0,0deg)";

            rotate += dm;
            if (rotate > 360) rotate -= 360;
            else if (rotate < 0) rotate += 360;
            m0 = null;

            svg
                    .style("-moz-transform", tx)
                    .style("-ms-transform", tx)
                    .style("-webkit-transform", tx);

            vis
                    .attr("transform", "translate(" + rx + "," + ry + ")rotate(" + rotate + ")")
                    .selectAll("g.node text")
                    .attr("dx", function (d) {
                        return (d.x + rotate) % 360 < 180 ? 8 : -8;
                    })
                    .attr("text-anchor", function (d) {
                        return (d.x + rotate) % 360 < 180 ? "start" : "end";
                    })
                    .attr("transform", function (d) {
                        return (d.x + rotate) % 360 < 180 ? null : "rotate(180)";
                    });
        }
    }


    </script>
    ////////end test
    {{ plans | safe }}
    </div>

    </div>

{% endblock %}

{% block contentFooter %}
    </div><!-- wrapper -->
{% endblock %}