
body{
	color: #87858A;
	background-color: #DFCE3A;

}
#header{


}


#wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 800px;
}


.explain{
	padding-top: 1em;
}

.exText{
	padding-left: 1em; 
	padding-right: 1em;
	font-size: 12px;
	line-height: 2;
}

.webfont{
	font-family: 'Dosis', sans-serif; font-weight: 100;line-height: 100%;
}

h1 { font-family: 'Dosis', sans-serif; font-weight: 400;line-height: 50%;padding: 10px 0px 0px 10px; }
h2 { font-family: 'Dosis', sans-serif; font-weight: 100;line-height: 0%;padding:0 0 5px 10px; }
h3{font-family: 'Dosis', sans-serif; font-weight: 100;font-weight:bold;line-height: 0%;padding:20px 0 5px 10px;
color:#514F5A; 
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;}

.pure-u-1-8{
	text-align:right;
	margin-top:13px;
}


