{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            background-color: #ffffff;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="{% static "js/three.js" %}"></script>
<script type="text/javascript" src="{% static "js/OrbitControls.js" %}"></script>
<script>

    var camera, scene, renderer;

    var mesh, materials, cube, intersection = null;

    var controls, clock, projector;

    function setup() {
        document.body.style.backgroundColor = '#d7f0fd';

        setupThreeJS();
        setupWorld();
        setupEvents();

        requestAnimationFrame(function animate() {
            renderer.render(scene, camera);
            controls.update(clock.getDelta());
            requestAnimationFrame(animate);
        });

    }

    function setupThreeJS() {

        scene = new THREE.Scene();
        scene.fog = new THREE.FogExp2(0x9db3b5, 0.0004);
        camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 10000);
        camera.position.y = 1200;
        camera.position.z = 1200;
        camera.rotation.x = -45 * Math.PI / 180;

        clock = new THREE.Clock();
        controls = new THREE.OrbitControls(camera);


        renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.shadowMapEnabled = true;
        document.body.appendChild(renderer.domElement);

        projector = new THREE.Projector();
    }

    function setupWorld() {

        //geometry

        //floor
        var geo = new THREE.PlaneGeometry(2000, 2000, 20, 20);
        {#        var mat = new THREE.MeshPhongMaterial({color: 0x9db3b5, overdraw: true, wireframe: true});#}
        var mat = new THREE.MeshPhongMaterial({color: 0x9db3b5, overdraw: true});
        mesh = new THREE.Mesh(geo, mat);

        mesh.rotation.x = -90 * Math.PI / 180;
        mesh.receiveShadow = true;
        scene.add(mesh);


        //grid material
        grid = [];
        materials = [];



        //grid geometry
        for (var j = 0; j < 20; j++) {
            for (var i = 0; i < 20; i++) {
                var lineGeom = new THREE.Geometry();

                lineGeom.vertices.push(new THREE.Vector3(i * 100 - 1000, 0, j*100-1000));
                lineGeom.vertices.push(new THREE.Vector3((i + 1) * 100 - 1000, 0, j*100-1000));

                var material = new THREE.LineBasicMaterial({color: 0xffffff});

                line = new THREE.Line(lineGeom, material);

                grid.push(line);
                scene.add(line);

                lineGeom = new THREE.Geometry();

                lineGeom.vertices.push(new THREE.Vector3(i * 100 - 1000, 0, j*100-1000));
                lineGeom.vertices.push(new THREE.Vector3(i * 100 - 1000, 0, (j+1)*100-1000));

                material = new THREE.LineBasicMaterial({color: 0xffffff});

                line = new THREE.Line(lineGeom, material);

                grid.push(line);
                scene.add(line);
            }
        }

        //scene.add(grid);


        var cubeGeom = new THREE.CubeGeometry(100, 100, 100);
        var cubeMat = new THREE.MeshPhongMaterial({color: 0xffff00});
        cube = new THREE.Mesh(cubeGeom, cubeMat);
        scene.add(cube);
        cube.visible = false;


        //light
        var light = new THREE.DirectionalLight(0xf9f1c2, 1);
        light.position.set(500, 1500, 1000);
        light.castShadow = true;
        light.shadowMapWidth = 2048;
        light.shadowMapHeight = 2048;
        var d = 1000;
        light.shadowCameraLeft = d;
        light.shadowCameraRight = -d;
        light.shadowCameraTop = d;
        light.shadowCameraBottom = -d;
        light.shadowCameraFar = 2500;
        scene.add(light);

    }

    function setupEvents() {
        renderer.domElement.addEventListener('mousemove', function (event) {

            event.preventDefault();

            var vector = new THREE.Vector3(
                    renderer.devicePixelRatio * (event.pageX - this.offsetLeft) / this.width * 2 - 1,
                    -renderer.devicePixelRatio * (event.pageY - this.offsetTop) / this.height * 2 + 1,
                    0
            );

            projector.unprojectVector(vector, camera);

            var raycaster = new THREE.Raycaster(
                    camera.position,
                    vector.sub(camera.position).normalize()
            );

            raycaster.precision=100;

            var intersects = raycaster.intersectObjects(grid);
            if (intersects.length) {
                intersects[0].object.material.color.setHex(0xff0000);
                //intersects[0].object.visible=true;
                } else {
                for(var i =0;i<grid.length;i++){
                    grid[i].material.color.setHex(0xffffff);
                }
            }

        });


        renderer.domElement.addEventListener('mousedown', function (event) {
            event.preventDefault();

            if (intersection != null) {
                cube.visible = true;
            } else {
                cube.visible = false;
            }
        });

    }


    setup();

</script>
</body>
</html>